/* Mobile View */
@media screen and (max-width: 768px) {
    .hero-text h1 {
        font-size: 30px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .featured-shops {
        flex-direction: column;
        align-items: center;
    }

    .coffee-shop {
        width: 80%;
        /* Adjusted to allow coffee shops to take more space on small screens */
    }

    .search-section {
        text-align: center;
    }

    footer {
        font-size: 12px;
    }
}

