/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #6f4e37;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

button.sign-up-btn {
    background-color: #d9b382;
    border: none;
    padding: 10px 20px;
    color: black;
    cursor: pointer;

}


.hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin: 0;
}

.hero-text p {
    font-size: 20px;
    margin: 10px 0;
}

button.sign-up-btn:hover {
    background-color: #a68d5a;
    transform: scale(1.05);

}

nav ul li a:hover {
    color: #d9b382;

}


nav ul li:hover {
    border-bottom: 2px solid #d9b382;
}


.main-content {
    padding: 20px;
}

.search-section {
    margin-bottom: 20px;
}

.search-section input,
.search-section select {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

/* Featured Coffee Shops Section */
.featured-shops {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coffee-shop {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.coffee-shop img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.coffee-shop h3 {
    font-family: 'Playfair Display', serif;
    margin: 10px 0;
}

.coffee-shop p {
    margin: 5px 0;
}

footer {
    background-color: #6f4e37;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
}


