/* Media Queries for Large View */
@media (min-width: 768px) {
    body {
        background-color: #eaf7e2;
    }

    .container {
        max-width: 80%;
        margin: auto;
        text-align: center;
    }

    /* Hero Section */
    .hero {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

    .hero img {
        width: 100%;
        height: auto;
        display: block;
    }

    .data,
    .weather {
        width: 250px;
        background-color: rgba(255, 255, 255, 0.685);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        position: absolute;
    }

    .data {
        top: 150px;
        left: 20px;
    }

    .weather {
        bottom: 5px;
        right: 20px;
    }

    .data h2,
    .weather h2 {
        background-color: #176c3c;
        color: white;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    #weather-icon img {
        width: 50px;
        vertical-align: middle;
    }

    /* Footer */
    .footer {
        text-align: center;
        padding: 10px;
        background-color: #c41e27;
        color: white;
        font-size: 20px;
    }
}