body {
    font-family: 'Roboto', sans-serif;
}

main, header, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid black;
    padding: .5rem;
    background-color: rgb(119, 119, 216);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: whitesmoke;
}